body{
    margin: 0;
    background-color: aqua;
}
.top{
    display: flex;
    height:50px;
    border: 2px;
    flex-direction: row;
    background-color:aliceblue;
    justify-content: center;
}
.ev{
    margin: 0px 3%;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.space{
    background-color: cadetblue;
    height: 650px;
    width:100%;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
}
.h{
    padding: 25px;
}
.h3{
    width:100px;

}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.events{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom{
    height: 50px;
    background-color:blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.handles{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.imo{
    padding: 5px;
}
